{% extends 'layouts.html'%}

{% block body %}
        <div class="dashboard-nav">
            <ul class="nav nav-bar">
                <li>Username</li>
                <li class="btn far-right"><a href="#"> Add Bucketlist</a></li>
            </ul>
        </div>
        <div class="dashboard">
            <div class="listing">
                <table>
                    <tr>
                        <th>Bucket lists</th>
                        <th>Bucket list  Head</th>
                    </tr>
                    <tr>
                        <td> First Bucketlist </td>
                        <td> Head One <a class="far-right btn-blue"href="#">Edit</a><a class="far-right btn-red" href="#">Delete</a></td>
                    </tr>
                    <tr>
                        <td> Second Bucketlist </td>
                        <td> Head Two <a class="far-right btn-blue"href="#">Edit</a><a class="far-right btn-red" href="#">Delete</a></td>
                    </tr>
                    <tr>
                        <td> Three Bucketlist </td>
                        <td> Head Three <a class="far-right btn-blue"href="#">Edit</a><a class="far-right btn-red" href="#">Delete</a></td>
                    </tr>
                </table>
            </div>
        </div>
{% endblock %}
