{% extends 'layouts.html'%}

{% block body %}
        <div class="intro">
                <div class="intro-text">
                    <p style="font-size:60px;"> Bucket List</p>
                    <p style="font-size:30px;">What does the application let you do? <br>
                         Create bucketlist,<br>
                          customize bucketlist,<br>
                           update bucketlist,<br>
                            delete bucketlist.
                         </p>
                </div>
        </div>
{% endblock %}
