{% extends 'layouts.html'%}

{% block body %}
        <div class="_form">
            <form class="login_form">
                <!--<fieldset>-->
                    <label for="username">Username; </label><br>
                        <input type="text"><br>
                    <label for="password">Password; </label><br>
                        <input type="password"><br>
                        <br><input class="btn" type="submit" name="submit" value="Login">
                <!--</fieldset>-->
            </form>
        </div>
{% endblock %}
